#allparcels .allparcels_logo_img {
    margin-right: 15px;
    margin-bottom: 15px;
}

#allparcels .allparcels_inline {
    display: inline;
}

#allparcels .allparcels_grey {
    color: grey;
}

#allparcels .hide {
    display: none;
}

#allparcels .shipping_methods {
    width: 150px;
}

#allparcels .grid table.border {
    border: 1px solid #CBD3D4;
}

#allparcels .grid table.border tr {
    background: #F5F8F9;
}

#allparcels .grid table.border tr.headings {
    background: #eee;
}

#allparcels .grid table.border th {
    text-align: center;
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding-right: 5px;
    padding-left: 5px;
}

#allparcels .grid table.border td {
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 5px;
}

#allparcels td.select_do {
    width: 138px;
}

#allparcels td.select_sc {
    width: 138px;
}

#allparcels td.select_dc {
    width: 110px;
}

#allparcels td.select_s {
    width: 110px;
}

#allparcels td.select_c {
    width: 120px;
}
.margin-form {
    margin-top: 20px;
}